# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

Proteus_Design/task1-0-99-decimal-counter.pdsprj.BODY-ALREFAEY.Refaey.workspace

Debug/Makefile

Debug/task1-0-99-decimal-counter.eep

Debug/makedep.mk

.vs/task1-0-99-decimal-counter/v14/

.vs/task1-decimal-counter-v2/v14/

Debug/task1-0-99-decimal-counter.lss

Debug/task1-0-99-decimal-counter.srec
